/*
    DEMO STYLE
*/

body {
    color: #000;
}

.logo-style {
    padding: 30px 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.submenu{
    padding-left: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #000000;
    color: #ffffff;
    transition: all 0.3s;
}



/*#sidebar.active {*/
    /*margin-left: -200px;*/
/*}*/


/*MY SIDEBAR*/

.sidebar-nav {
padding: 0;
list-style: none;
}

.sidebar-nav li {
text-indent: 40px;
line-height: 40px;
}

.sidebar-nav li a {
display: block;
text-decoration: none;
color: darkgrey;
}

.sidebar-nav li.active a {
color: #ffffff;
    border-left: 5px solid #ffffff;
    font-weight: 500;
    text-indent: 35px;
}

.sidebar-nav li a:hover {
color: rgba(255,255,255, 0.9);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 300px);
    /*padding: 0 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    background-color: rgba(0,0,0, 0.8);
    color: white;
    top: 0;
    right: 0;
    /*background: #F8F9FE;*/
}

#content.active {
    width: 100%;
}

.content-wrapper {
    padding: 0 20px;
}


.menu-heading {
    padding: 20px 20px;
    font-weight: bold;
}

.menu-heading h1 {
    font-size: 25px;
}

.icon-background {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    /*color: white;*/
    justify-content: center;
    align-items: center;
}

.box-card-head {
    display: inline-block;
    background-image: url("../images/undraw_status_update_jjgk.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /*color: white;*/
    padding: 60px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}

.box-card-timeline {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /*color: white;*/
    /*padding: 60px 20px;*/
    border-radius: 30px;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}

.my-form-text {
    font-size: 16px;
    font-weight: 100;
}

.box-card {
    display: inline-block;
    background: #ffffff;
    /*box-shadow: 0px 0px 10px 0px #ddd;*/
    /*padding: 10px 10px 10px 10px;*/
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.your-forms-box-card {
    display: inline-block;
    background: #ffffff;
    margin-top: 30px;
    /*height: 100%;*/
    width: 100%;
    /*box-shadow: 0px 0px 10px 0px #ddd;*/
    transition: 0.3s all ease-in-out;
}


.box-card-radio {
    background: #ffffff;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box-card-radio:hover {
    box-shadow: 3px 3px 10px 4px lightgray;
}

.profile-box {
    background: #ffffff;
    /*box-shadow: 2px 2px 10px 3px gray;*/
    box-shadow: 2px 2px 10px 3px lightgray;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s all ease-in-out;
}

.profile-box-flat {
    background: #ffffff;
    /*box-shadow: 2px 2px 10px 3px gray;*/
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s all ease-in-out;
}

.search {
    width: 600px;
    height: 35px;
    border-radius: 20px;
    padding: 10px 20px;
}


/*FLOATING CONTAINER*/

@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }
    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }
    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }
    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}
@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }
    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }
    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }
    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}
* {
    margin: 0;
    padding: 0;
}


.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}
.floating-container:hover {
    height: 300px;
}
.floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(149, 165, 166,0.8);
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
    animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
    animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #627CF6;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(149, 165, 166,0.8);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}
.floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
    background: #627CF6;
    box-shadow: 0 20px 20px -10px rgba(149, 165, 166,0.8);
}
.floating-container .float-element:nth-child(2) {
    background: #627CF6;
    box-shadow: 0 20px 20px -10px rgba(149, 165, 166,0.8);
}
.floating-container .float-element:nth-child(3) {
    background: #627CF6;
    box-shadow: 0 20px 20px -10px rgba(149, 165, 166,0.8);
}

.checked {
    color: #f1c40f;
}

.box-profile {
    display: inline-block;
    background: #ffffff;
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
}

.box-profile:hover {
    box-shadow: 0px 0px 5px 0px #ddd;
}

/*INSTAGRAM PROKJECT MOD*/
.login-button {
    background: #f39c12;
    color: #ffffff;
    width: 100px;
    font-weight: 600;
    margin: 0 30px;
}


