<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search - Photogram</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/sidebar.css" />


</head>

<body>


<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="logo-style">
            <div class="row mb-5 mt-4">
                <div class="col text-center">
                    <a href="/" class="site-logo">
                        <img src="img/logo.png" alt="" style="height: 50px;" class="img-fluid">
                    </a>
                </div>
            </div>

            <a href="/profile?id={{ myuser.key.urlsafe() }}" style="text-decoration: none;">
                <img src="img/avatar.png" class="d-block mx-auto mt-4" height="80"/>
                <div class="row">
                    <div class="col text-center mt-3">
                            <span class="lead" style="color: #dfe6e9">{{ user_email_for_search }}</span>
                    </div>
                </div>
            </a>
            <div class="row p-4 mt-2">
                <div class="col text-center">
                    <a href="/profile?id={{ myuser.key.urlsafe() }}" style="text-decoration: none;">
                        <span class="font-weight-bold" style="color: white;">{{ post_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Posts</p>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/user_followers?id={{ myuser.key.urlsafe() }}">
                        <span class="font-weight-bold" style="color: white;">{{ followers_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Followers</p>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/user_following?id={{ myuser.key.urlsafe() }}">
                        <span class="font-weight-bold" style="color: white;">{{ following_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Following</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="sidebar-nav">

            <ul class="list-unstyled components">

                <li> <a href="/">Timeline</a> </li>
                <li class="active"> <a href="/search">Search</a> </li>
                <li> <a href="{{ url }}">{{ login_status }}</a> </li>

            </ul>

        </div>



    </nav>



    <!-- Page Content  -->
    <div id="content">

        <div>


            <div class="content-wrapper p-4">

                <div class="row">
                    <form class="form-inline mx-auto" action="/search" method="post">
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search for user" style="width: 300px;" required>
                      </div>
                      <input type="submit" class="btn btn-primary mb-2" name="button" value="Search" />
                    </form>
                </div>

                <!--        <h6>My Created Task Boards</h6>-->
                <div class="row mt-5" style="width: 100%">

                    {% if search %}

                        {% for i in total_query %}
                        {% for j in i %}

                        {% if j.email == user_email %}

                        {% else %}
                        <div class="col-3 mt-4">
                            <a href="/profile?id={{ j.key.urlsafe() }}" style="text-decoration: none;">
                                <img src="img/avatar.png" class="d-block mx-auto" style="width: 90px; height: 90px;">
                                <p class="text-center mt-3 taskboard-text-alt">{{ j.email }}</p>
                            </a>
                        </div>

                        {% endif %}
                        {% endfor %}
                        {% endfor %}

                    {% else %}

                        <div class="col-12">
                            <h5 class="mb-5 lead text-center">Suggestions</h5>
                        </div>

                        {% for i in total_query %}

                        {% if i.email == user_email %}

                        {% else %}
                        <div class="col-3 mt-4">
                            <a href="/profile?id={{ i.key.urlsafe() }}" style="text-decoration: none;">
                                <img src="img/avatar.png" class="d-block mx-auto" style="width: 90px; height: 90px;">
                                <p class="text-center mt-3 taskboard-text-alt">{{ i.email }}</p>
                            </a>
                        </div>

                        {% if loop.index >= 12 %}
                        {% break %}

                        {% endif %}
                        {% endif %}
                        {% endfor %}


                    {% endif %}


                </div>

            </div>




        </div>

    </div>

</div>


<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>

</body>
</html>