<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search - InstaHub</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/sidebar.css" />


</head>

<body>


<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="logo-style">
<!--            <img src="img/logo.png" class="d-block mx-auto" height="100"/>-->
            <img src="img/avatar.png" class="d-block mx-auto mt-4" height="100"/>
            <div class="row">
                <div class="col text-center mt-3">
                    <span class="lead" style="color: #dfe6e9">{{ user_email_for_search }}</span>
                </div>
            </div>
            <div class="row p-4 mt-2">
                <div class="col text-center">
                    <span class="font-weight-bold" style="color: white;">{{ post_count }}</span>
                    <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Posts</p>
                </div>
                <div class="col text-center">
                    <span class="font-weight-bold" style="color: white;">{{ followers_count }}</span>
                    <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Followers</p>
                </div>
                <div class="col text-center">
                    <span class="font-weight-bold" style="color: white;">{{ following_count }}</span>
                    <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Following</p>
                </div>
            </div>
        </div>


        <div class="sidebar-nav">

            <ul class="list-unstyled components">

                <li> <a href="/">Timeline</a> </li>
<!--                <li> <a href="/profile">Profile</a> </li>-->
                <li class="active"> <a href="/search">Search</a> </li>
                <li> <a href="{{ url }}">{{ login_status }}</a> </li>

            </ul>

        </div>



    </nav>



    <!-- Page Content  -->
    <div id="content">

        <div>


            <div class="content-wrapper p-4">

                <div class="row">
                    <form class="form-inline mx-auto" action="/search" method="post">
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search for user" style="width: 300px;">
                      </div>
                      <input type="submit" class="btn btn-primary mb-2" name="button" value="Search" />
                    </form>
                </div>

                <!--        <h6>My Created Task Boards</h6>-->
                <div class="row mt-5" style="width: 100%">

                    {% for i in total_query %}
                    {% if i.email == user_email %}

                    {% else %}
                    <div class="col-3 mt-4">
                        <a href="/user_profile?id={{ i.key.urlsafe() }}"
                           style="text-decoration: none;">
                            <img src="img/avatar.png" class="d-block mx-auto" style="width: 90px; height: 90px;">
                            <p class="text-center mt-3 taskboard-text-alt">{{ i.email }}</p>
                        </a>
                    </div>

                    {% endif %}
                    {% endfor %}

                </div>

            </div>




        </div>

    </div>

</div>


<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>

</body>
</html>