<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeline - InstaHub</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/sidebar.css" />


</head>

<body>


<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="logo-style">
            <img src="img/logo.png" class="d-block mx-auto" height="100"/>
            <div class="text-center" style="margin-top: 20px;">
                            <button type="button" style="padding: 7px 15px;" class="btn btn-danger" data-toggle="modal" data-target="#newPost">
                                Add New Post
                            </button>
                        </div>
        </div>


        <div class="sidebar-nav" style="margin-top: 40px;">

            <ul class="list-unstyled components">

                <li class="active"> <a href="/">Timeline</a> </li>
                <li> <a href="/profile">Profile</a> </li>
                <li> <a href="/search">Search</a> </li>
                <li> <a href="{{ url }}">{{ login_status }}</a> </li>

            </ul>

        </div>



    </nav>



    <!-- Page Content  -->
    <div id="content">

        <div>


            <div class="content-wrapper p-4">


                <!-- we will then list the blobs that we do have in the datastore available to us -->
                {% for i in timeline_posts[::-1] %}
                {% set x = Post.get_by_id(i.id()).creator %}
                <div class="row box-card-timeline shadow-lg mt-3">
                    <div class="col-12" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0)), url('/view_photo/{{ Post.get_by_id(i.id()).image_blob_key }}');
                    height: 400px; width: 650px; background-size: cover; background-repeat: no-repeat; border-radius: 30px 30px 0px 0px;" >
                        <p class="text-light p-3 lead">

                        </p>
                    </div>


                    <div class="col-12 pt-3">
                        <img src="img/like.png" class="img-fluid" style="height: 15px; margin-top: -5px"> <span class="lead" style="font-size: 15px">Like</span>
                        <img src="img/comment.png" class="img-fluid pl-4" style="height: 15px; margin-top: -5px"> <span class="lead" style="font-size: 15px">Comment</span>
                        <img src="img/share.png" class="img-fluid pl-4" style="height: 15px; margin-top: -5px"> <span class="lead" style="font-size: 15px">Share</span>
                    </div>

                    <div class="col-12 pt-3 pr-3 pl-3">
                        <p>
                            <span class="font-weight-bold">{{ MyUser.get_by_id(x.id()).email }} </span>
                            <span class="lead" style="font-size: 17px">{{ Post.get_by_id(i.id()).caption }}</span>
                        </p>
                    </div>

                    <div class="col-12 mt-2">
                        {% for i in Post.get_by_id(i.id()).comments[::-1] %}
                        <span class="font-weight-bold">{{MyUser.get_by_id(i.commenter).email}}</span>
                        <span class="lead" style="font-size: 16px;">{{i.comment}}</span>
                        <br/>
                        {% endfor %}
                    </div>

                    <div class="col-12 mt-4">
                        <form action="/comment" method="post">
                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group form-inline">
                                          <input name="post_id" value="{{ i.id()}}" type="text" class="d-none" />
                                        <textarea class="form-control" placeholder="Add a Comment" rows="2" style="border-radius: 10px; width: 100%" name="comment" maxlength="200" required></textarea>
                                      </div>
                                </div>

                                <div class="col-2">
                                    <input type="submit" value="Comment">
                                </div>

                            </div>

                        </form>
                    </div>
                    </div>
                {% endfor %}

            </div>




        </div>

    </div>


<!--    RIGHT SIDE-->
    <div id="right-side">

    </div>


</div>


<!--CREATE NEW POST-->

<!-- Modal -->
<div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
                    Upload File: <input type="file" name="file" accept="image/png, image/jpeg," required /><br/>

                    <div class="row">
                        <div class="col form-group">
                            <label for="postCaption">Write Caption</label>
                            <textarea class="form-control" maxlength="1000" id="postCaption" name="postCaption" required rows="4"></textarea>
                        </div>
                    </div>

                    <input type="submit"/>
                </form>

<!--                <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">-->
<!--                    <div class="form-group">-->
<!--                        <label for="uploadImage">Upload Image</label>-->
<!--                        <input type="file" class="form-control" id="uploadImage" name="uploadImage">-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="col form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label for="postCaption">Write Caption</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <textarea class="form-control" maxlength="1000" id="postCaption" name="postCaption" required rows="7"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <button type="submit" class="btn btn-primary">Post</button>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>

</body>
</html>