<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Following - Photogram</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/sidebar.css" />

</head>

<body>

 <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="logo-style">
            <div class="row mb-5 mt-4">
                <div class="col text-center">
                    <a href="/" class="site-logo">
                        <img src="img/logo.png" alt="" style="height: 50px;" class="img-fluid">
                    </a>
                </div>
            </div>

            <a href="/profile?id={{ myuser.key.urlsafe() }}" style="text-decoration: none;">
                <img src="img/avatar.png" class="d-block mx-auto mt-4" height="80"/>
                <div class="row">
                    <div class="col text-center mt-3">
                            <span class="lead" style="color: #dfe6e9">{{ user_email }}</span>
                    </div>
                </div>
            </a>
            <div class="row p-4 mt-2">
                <div class="col text-center">
                    <a href="/profile?id={{ myuser.key.urlsafe() }}" style="text-decoration: none;">
                        <span class="font-weight-bold" style="color: white;">{{ current_user_post_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Posts</p>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/user_followers?id={{ myuser.key.urlsafe() }}">
                        <span class="font-weight-bold" style="color: white;">{{ current_user_followers_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Followers</p>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/user_following?id={{ myuser.key.urlsafe() }}">
                        <span class="font-weight-bold" style="color: white;">{{ current_user_following_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Following</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="sidebar-nav">

            <ul class="list-unstyled components">

                <li > <a href="/">Timeline</a> </li>
                {% if user_email == user_profile_deets.email %}
                <li class="active"> <a href="#">Your Following</a> </li>
                {% else %}
                <li class="active"> <a href="#"><span class="text-capitalize">{{ users_first_name}}'s</span> Following</a> </li>
                {% endif %}
                <li> <a href="/search">Search</a> </li>
                <li> <a href="{{ url }}">{{ login_status }}</a> </li>

            </ul>

        </div>



    </nav>



            <!-- Page Content  -->
            <div id="content">

                <div>

                    <div class="content-wrapper">

                        <div class="row mt-5" style="padding-left: 50px;">

                            <!-- LEFT SIDE -->

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 profile-box " style="padding: 25px; height: 100%;">
                                <img src="img/avatar.png" class="d-block mx-auto" style="width: 130px; height: 130px;">
                                <hr>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Email Address</span>
                                    <a href="/profile?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: lightgray;">{{ user_profile_deets.email }}</p>
                                    </a>
                                </div>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Following</span>
                                    <a href="/user_following?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: lightgray;">{{ following_count }}</p>
                                    </a>
                                </div>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Followers</span>
                                    <a href="/user_followers?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: lightgray;">{{ followers_count }}</p>
                                    </a>
                                </div>

                                <div>
                                    {% if user_id in followers_id %}
                                    <form action="/profile?id={{ user_profile_deets.key.urlsafe() }}" method="post">
                                        <input type="text" name="user_info" value="{{ user.user_id() }}" class="d-none">
                                        <input type="submit" class="btn btn-danger form-control" name="button" value="Unfollow">
                                    </form>
                                    {% elif user_email == user_profile_deets.email %}

                                    {% else %}
                                    <form action="/profile?id={{ user_profile_deets.key.urlsafe() }}" method="post">
                                        <input type="text" name="user_info" value="{{ user.user_id() }}" class="d-none">
                                        <input type="submit" class="btn btn-success form-control" name="button" value="Follow">
                                    </form>
                                    {% endif %}
                                </div>

                                <hr>

                            </div>

                            <div style="padding: 0 10px;"></div>

                            <!-- RIGHT SIDE -->

                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 profile-box-flat" style="padding: 25px;">

                                <div>
                                    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">

                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-transactions" data-toggle="pill" href="#pills-transactions-tab" role="tab" aria-controls="pills-transactions" aria-selected="false">Following</a>
                                        </li>

                                    </ul>

                                    <div class="tab-content" id="pills-tabContent">

                                        <!-- TRANSACTION TAB -->
                                        <div class="tab-pane fade show active" id="pills-transactions-tab" role="tabpanel" aria-labelledby="pills-transactions">

                                            <div class="row">

                                                {% for i in following_id %}
                                                <div class="col-4 mt-4">
                                                    <a href="/profile?id={{ MyUser.get_by_id(i).key.urlsafe() }}" style="text-decoration: none;">
                                                        <img src="img/avatar.png" class="d-block mx-auto" style="width: 90px; height: 90px;">
                                                        <p class="text-center mt-3 taskboard-text-alt">{{ MyUser.get_by_id(i).email }}</p>
                                                    </a>
                                                </div>
                                                {% endfor %}

                                            </div>


                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                </div>

            </div>

        </div>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>