<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile - InstaHub</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/sidebar.css" />

</head>

<body>

 <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
        <div class="logo-style">
            <img src="img/logo.png" class="d-block mx-auto" height="100"/>
            <div class="text-center" style="margin-top: 20px;">
                            <button type="button" style="padding: 7px 15px;" class="btn btn-danger" data-toggle="modal" data-target="#newPost">
                                Add New Post
                            </button>
                        </div>
        </div>


        <div class="sidebar-nav" style="margin-top: 40px;">

            <ul class="list-unstyled components">

                <li > <a href="/">Timeline</a> </li>
                <li> <a href="/profile">Profile</a> </li>
                <li> <a href="/search">Search</a> </li>
                <li> <a href="{{ url }}">{{ login_status }}</a> </li>

            </ul>

        </div>



    </nav>



            <!-- Page Content  -->
            <div id="content">

                <div>

                    <div class="content-wrapper">

                        <div class="row mt-5" style="padding-left: 50px;">

                            <!-- LEFT SIDE -->

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 profile-box " style="padding: 25px; height: 100%;">
                                <img src="img/avatar.png" class="d-block mx-auto" style="width: 130px; height: 130px;">
                                <hr>
                                <!--<p>Contact Information</p>-->

<!--                                <div>-->
<!--                                    <span class="lead font-weight-bold" style="font-size: 14px;">Username</span>-->
<!--                                    <p class="lead" style="color: black;">yerohafsat@gmail.com</p>-->
<!--                                </div>-->

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Email Address</span>
                                    <p class="lead" style="color: black;">{{ user_profile_deets.email }}</p>
                                </div>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Following</span>
                                    <a href="/user_following?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: black;">{{ following_count }}</p>
                                    </a>
                                </div>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Followers</span>
                                    <a href="/user_followers?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: black;">{{ followers_count }}</p>
                                    </a>
                                </div>

                                <div>
                                    {% if user_id in followers_id %}
                                    <form action="/user_profile?id={{ user_profile_deets.key.urlsafe() }}" method="post">
                                        <input type="text" name="user_info" value="{{ user.user_id() }}" class="d-none">
                                        <input type="submit" class="btn btn-danger form-control" name="button" value="Unfollow">
                                    </form>
                                    {% elif user_email == user_profile_deets.email %}

                                    {% else %}
                                    <form action="/user_profile?id={{ user_profile_deets.key.urlsafe() }}" method="post">
                                        <input type="text" name="user_info" value="{{ user.user_id() }}" class="d-none">
                                        <input type="submit" class="btn btn-success form-control" name="button" value="Follow">
                                    </form>
                                    {% endif %}
                                </div>

                                <hr>

                            </div>

                            <div style="padding: 0 10px;"></div>

                            <!-- RIGHT SIDE -->

                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 profile-box-flat" style="padding: 25px;">

                                <div>
                                    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-overview" href="#pills-overview-tab" data-toggle="pill" role="tab" aria-controls="pills-overview" aria-selected="true">Posts</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-activity" data-toggle="pill" href="#pills-activity-tab" role="tab" aria-controls="pills-transactions" aria-selected="false">Following</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-transactions" data-toggle="pill" href="#pills-transactions-tab" role="tab" aria-controls="pills-transactions" aria-selected="false">Followers</a>
                                        </li>

<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" id="pills-add-info" href="#pills-add-info-tab" data-toggle="pill" role="tab" aria-controls="pills-add-info" aria-selected="false">Additional Info</a>-->
<!--                                        </li>-->
                                    </ul>

                                    <div class="tab-content" id="pills-tabContent">

                                        <!-- OVERVIEW TAB -->
                                        <div class="tab-pane fade show active" id="pills-overview-tab" role="tabpanel" aria-labelledby="pills-overview">

                                            <!-- we will then list the blobs that we do have in the datastore available to us -->
                                            {% for i in all_posts[::-1] %}
                                            {% set x = Post.get_by_id(i.id()).creator %}
                                            <div class="row box-card-timeline shadow-lg mt-3">
                                                <div class="col-12" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0)), url('/view_photo/{{ Post.get_by_id(i.id()).image_blob_key }}');
                                                height: 400px; width: 650px; background-size: cover; background-repeat: no-repeat; border-radius: 30px 30px 0px 0px;" >
                                                    <p class="text-light p-3 lead">

                                                    </p>
                                                </div>


                                                <div class="col-12 pt-3">
                                                    <img src="img/like.png" class="img-fluid" style="height: 15px; margin-top: -5px"> <span class="lead" style="font-size: 15px">Like</span>
                                                    <img src="img/comment.png" class="img-fluid pl-4" style="height: 15px; margin-top: -5px"> <span class="lead" style="font-size: 15px">Comment</span>
                                                    <img src="img/share.png" class="img-fluid pl-4" style="height: 15px; margin-top: -5px"> <span class="lead" style="font-size: 15px">Share</span>
                                                </div>

                                                <div class="col-12 p-3">
                                                    <p>
                                                        <span class="font-weight-bold">{{ MyUser.get_by_id(x.id()).email }} </span>
                                                        <span class="lead" style="font-size: 17px">{{ Post.get_by_id(i.id()).caption }}</span>
                                                    </p>
                                                </div>

                                            </div>
                                            {% endfor %}

                                        </div>

                                        <!-- ACTIVITY TAB -->
                                        <div class="tab-pane fade" id="pills-activity-tab" role="tabpanel" aria-labelledby="pills-transactions">

                                            {% for i in following_id %}
                                                <p>{{ MyUser.get_by_id(i).email }}</p>
                                            {% endfor %}

                                        </div>

                                        <!-- TRANSACTION TAB -->
                                        <div class="tab-pane fade" id="pills-transactions-tab" role="tabpanel" aria-labelledby="pills-transactions">

                                            {% for i in followers_id %}
                                                <p>{{ MyUser.get_by_id(i).email }}</p>
                                            {% endfor %}

                                        </div>

                                        <!-- ADDITIONAL INFO TAB -->
<!--                                        <div class="tab-pane fade" id="pills-add-info-tab" role="tabpanel" aria-labelledby="pills-add-info">-->
<!--                                            <hr>-->

<!--                                            <div>-->
<!--                                                <span>Bank Verification Number</span>-->
<!--                                                <p style="color: black;">34557899001</p>-->
<!--                                            </div>-->

<!--                                            <div>-->
<!--                                                <span>Referee</span>-->
<!--                                                <p style="color: black;">Mr Dele Lawal</p>-->
<!--                                            </div>-->

<!--                                            <div>-->
<!--                                                <span>Referee Phone No</span>-->
<!--                                                <p style="color: black;">+234 803 736 1111</p>-->
<!--                                            </div>-->

<!--                                            <div>-->
<!--                                                <span>Referee Address</span>-->
<!--                                                <p style="color: black;">56 Mobolaji Bank Anthony Way</p>-->
<!--                                            </div>-->

<!--                                            <hr>-->

<!--                                        </div>-->

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                </div>

            </div>

        </div>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>