<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile - Photogram</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/sidebar.css" />

</head>

<body>

 <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="logo-style">
            <div class="row mb-5 mt-4">
                <div class="col text-center">
                    <a href="/" class="site-logo">
                        <img src="img/logo.png" alt="" style="height: 50px;" class="img-fluid">
                    </a>
                </div>
            </div>

            <a href="/profile?id={{ myuser.key.urlsafe() }}" style="text-decoration: none;">
                <img src="img/avatar.png" class="d-block mx-auto mt-4" height="80"/>
                <div class="row">
                    <div class="col text-center mt-3">
                            <span class="lead" style="color: #dfe6e9">{{ user_email }}</span>
                    </div>
                </div>
            </a>
            <div class="row p-4 mt-2">
                <div class="col text-center">
                    <a href="/profile?id={{ myuser.key.urlsafe() }}" style="text-decoration: none;">
                        <span class="font-weight-bold" style="color: white;">{{ current_user_post_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Posts</p>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/user_followers?id={{ myuser.key.urlsafe() }}">
                        <span class="font-weight-bold" style="color: white;">{{ current_user_followers_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Followers</p>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/user_following?id={{ myuser.key.urlsafe() }}">
                        <span class="font-weight-bold" style="color: white;">{{ current_user_following_count }}</span>
                        <p class="lead pt-2" style="color: whitesmoke; font-weight: 100; font-size: 15px;">Following</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="sidebar-nav">

            <ul class="list-unstyled components">

                <li > <a href="/">Timeline</a> </li>
                {% if user_email == user_profile_deets.email %}
                <li class="active"> <a href="#">Your Profile</a> </li>
                {% else %}
                <li class="active"> <a href="#"><span class="text-capitalize">{{ users_first_name}}'s</span> Profile</a> </li>
                {% endif %}
                <li> <a href="/search">Search</a> </li>
                <li> <a href="{{ url }}">{{ login_status }}</a> </li>

            </ul>

        </div>



    </nav>



            <!-- Page Content  -->
            <div id="content">

                <div>

                    <div class="content-wrapper">

                        <div class="row mt-5" style="padding-left: 50px;">

                            <!-- LEFT SIDE -->

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 profile-box " style="padding: 25px; height: 100%;">
                                <img src="img/avatar.png" class="d-block mx-auto" style="width: 130px; height: 130px;">
                                <hr>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Email Address</span>
                                    <a href="/profile?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: lightgray;">{{ user_profile_deets.email }}</p>
                                    </a>
                                </div>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Following</span>
                                    <a href="/user_following?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: lightgray;">{{ following_count }}</p>
                                    </a>
                                </div>

                                <div>
                                    <span class="lead font-weight-bold" style="font-size: 14px;">Followers</span>
                                    <a href="/user_followers?id={{ user_profile_deets.key.urlsafe() }}">
                                        <p class="lead" style="color: lightgray;">{{ followers_count }}</p>
                                    </a>
                                </div>

                                <div>
                                    {% if user_id in followers_id %}
                                    <form action="/profile?id={{ user_profile_deets.key.urlsafe() }}" method="post">
                                        <input type="text" name="user_info" value="{{ user.user_id() }}" class="d-none">
                                        <input type="submit" class="btn btn-danger form-control" name="button" value="Unfollow">
                                    </form>
                                    {% elif user_email == user_profile_deets.email %}

                                    {% else %}
                                    <form action="/profile?id={{ user_profile_deets.key.urlsafe() }}" method="post">
                                        <input type="text" name="user_info" value="{{ user.user_id() }}" class="d-none">
                                        <input type="submit" class="btn btn-success form-control" name="button" value="Follow">
                                    </form>
                                    {% endif %}
                                </div>

                                <hr>

                            </div>

                            <div style="padding: 0 10px;"></div>

                            <!-- RIGHT SIDE -->

                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 profile-box-flat" style="padding: 25px;">

                                <div>
                                    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-overview" href="#pills-overview-tab" data-toggle="pill" role="tab" aria-controls="pills-overview" aria-selected="true">Posts</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="pills-tabContent">

                                        <!-- OVERVIEW TAB -->
                                        <div class="tab-pane fade show active pt-3" id="pills-overview-tab" role="tabpanel" aria-labelledby="pills-overview">

                                            {% for i in all_posts[::-1] %}
                                            {% set x = Post.get_by_id(i.id()).creator %}
                                            {% set z = Post.get_by_id(i.id()) %}
                                            <div class="row box-card-timeline mt-3">
                                                <div class="col-12" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0)), url('/view_photo/{{ Post.get_by_id(i.id()).image_blob_key }}');
                                                height: 400px; width: 650px; background-size: cover; background-repeat: no-repeat; border-radius: 30px 30px 0px 0px;" >
                                                    <p class="text-light p-3 lead">

                                                    </p>
                                                </div>


                                                <div class="col-12 pt-3">
                                                    <img src="img/comment.png" class="img-fluid" style="height: 15px; margin-top: -5px"> <span class="lead" style="font-size: 15px">Comment</span>
                                                </div>

                                                <div class="col-12 pt-3 pr-3 pl-3">
                                                    <p>
                                                        <a href="/profile?id={{ MyUser.get_by_id(x.id()).key.urlsafe() }}" style="text-decoration: none;">
                                                            <span class="font-weight-bold">{{ MyUser.get_by_id(x.id()).email }} </span>
                                                        </a>
                                                        <span class="lead" style="font-size: 17px">{{ Post.get_by_id(i.id()).caption }}</span>

                                                    </p>
                                                </div>

                                                <div class="col-12 mt-2">

                                                    {% for i in Post.get_by_id(i.id()).comments[-5:][::-1] %}
                                                    <a href="/profile?id={{ MyUser.get_by_id(i.commenter).key.urlsafe() }}" style="text-decoration: none;">
                                                        <span class="font-weight-bold">{{MyUser.get_by_id(i.commenter).email}}</span>
                                                    </a>
                                                    <span class="lead" style="font-size: 16px;">{{i.comment}}</span>
                                                    <br/>
                                                    {% endfor %}

                                                    {% for i in Post.get_by_id(i.id()).comments[::-1] %}
                                                    {% if loop.index > 5 %}
                                                        <p class="mt-3 mb-2">
                                                          <a class="" data-toggle="collapse" href="#collapseExample{{z.key.id()}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                            View More Comments
                                                          </a>
                                                        </p>
                                                    {% break %}
                                                    {% endif %}
                                                    {% endfor %}

                                                    {% for i in Post.get_by_id(i.id()).comments[::-1] %}
                                                    {% if loop.index > 5 %}
                                                    <div class="collapse" id="collapseExample{{z.key.id()}}">
                                                          <div>
                                                              <a href="/profile?id={{ MyUser.get_by_id(i.commenter).key.urlsafe() }}" style="text-decoration: none;">
                                                                <span class="font-weight-bold">{{MyUser.get_by_id(i.commenter).email}}</span>
                                                              </a>
                                                                <span class="lead" style="font-size: 16px;">{{i.comment}}</span>
                                                                <br/>
                                                          </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>


<!--                                                COMMENT-->
                                                <div class="col-12 mt-4">
                                                    <form action="/profile_comment?id={{ user_profile_deets.key.urlsafe() }}" method="post">
                                                          <div class="form-group">
                                                              <input name="post_id" value="{{ i.id()}}" type="text" class="d-none" />
                                                            <textarea class="form-control" placeholder="Add a Comment" rows="2" style="border-radius: 10px;" name="comment" maxlength="200" required></textarea>
                                                          </div>
                                                        <input type="submit" value="Comment">
                                                    </form>
                                                </div>

                                            </div>
                                            {% endfor %}

                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                </div>

            </div>

        </div>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>